<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>"><!--<![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'spree/home/header-tablet'%>
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <script src="https://use.fontawesome.com/e4b26ed800.js"></script>
    <style>
      body{
        line-height: 1.2;
      }
      /*NAVBAR STYLES FOR TABLETS*/
      @media (max-width: 1000px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .mobile-toggle{
          background: white !important;
          margin-top: 23px !important;
        }

        .mobile-toggle span{
          background: grey ;
        }

        .navbar-content{
          background: black;
        }

        .navbar-content li a{
          color: white;
          text-align: center;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
            display:block !important;
        }

        .center{
          text-align: center;
        }

        .single-footer-widget {
          float: none;
          margin-top: 40px;
        }
      }
      @media (max-width: 764px) {
        .infoText {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .flash-messages-all .alert{
        background-color: #dff0d8;
        border: 1px solid white;
        color: #3c763d;
        text-align: center;
        margin-bottom: 0;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        background: black;
        color: white;"
      }

      #navbar li a:hover{
        background-color:  #4c4c4c !important;
        border-color: white !important;
        color: white !important;
        padding-top: 53px !important;
        padding-bottom: 10px !important;
        margin-top: -38px !important;
        transition: all 0.2s ease-out 0s;
        font-weight: 500;
        height: 103px;
      }
    </style>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>
    <div class="flash-messages-all">
      <%= flash_messages%>
    </div>
  
      <%= yield %>


    <script type="text/javascript">
      $(document).on('turbolinks:load', function() {
        setTimeout(function () {
          $(".flash-messages-all").fadeOut('slow')
        }, 2000);
      });
    </script>
  </body>
</html>
