<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<table class="table" id="cart-detail" data-hook>
  <thead>
    <tr class="active" data-hook="cart_items_headers">
      <tr>
        <th>Imagen Producto</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Valor x cantidad</th>
      </tr>
    </tr>
  </thead>
  <div  class="product" id="line_items" data-hook>
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
  </tbody>
  <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
    <tr class="cart-subtotal">
      <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
      <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
      <td></td>
    </tr>
    <%= render "spree/orders/adjustments" %>
  <% end %>
  <tr>
    <td colspan="4" align='right' style="padding-top: 25px">
      <p class="cart-total">
        <span>Grand TOTAL:</span>
      </p>
    </td>
    <td class="lead" colspan style="padding-top: 25px">
      <p class="cart-total">
        <span class="text-accent"><%= order_form.object.display_total %></span>
      </p>
    </td>
  </tr>
</table>

