<% @body_id = 'cart' %>

<div data-hook="cart_container" class="container" style="margin-bottom:80px;">  
  <% if @order.line_items.empty? %>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Shopping Cart</h1>
                <p>Items dentro del carrito</p>
            </div><!-- End .page-header -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="product-col">
                      <div data-hook="empty_cart">
                        <div class="alert alert-danger">Carrito de compra vacio</div>
                        <a href="/catalog" class="btn btn-default">
                          Seguir comprando
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>      
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header text-center">
            <h1>Shopping Cart</h1>
            <p>Items dentro del carrito</p>
          </div><!-- End .page-header -->
          <div data-hook="outside_cart_form">
            <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
              <div data-hook="inside_cart_form">
                <div data-hook="cart_items" class="table-responsive">
                  <%= render partial: 'form', locals: { order_form: order_form } %>
                </div>
                <% if spree_current_user%>
                  <div class="links col-md-2 navbar-form pull-right text-right" data-hook="cart_buttons">
                    <div class="form-group">
                      <%= button_tag class: 'btn btn-primary bradius-0', id: 'update-button' do %>
                        Actualizar carrito
                      <% end %> 
                      <%= button_tag class: 'btn btn-accent', id: 'checkout-link', name: 'checkout' do %>
                        <%= Spree.t(:checkout) %>
                      <%end%>      
                    </div>
                  </div>

                  <div class='col-md-4 form-inline pull-right' data-hook='coupon_code'>
                    <label>
                      <%= order_form.label 'Codigo promo' %>
                      <%= order_form.text_field :coupon_code, size: '10', class: 'form-control bradius-0' %>
                      <%= button_tag Spree.t(:coupon_code_apply), class: 'btn btn-default' %>
                    </label>
                  </div>
                <%end%>
              </div>
            <% end %>
          </div>
          <% if spree_current_user%>
            <div id="empty-cart" data-hook>
              <%= form_tag empty_cart_path, method: :put do %>
                <p id="clear_cart_link" data-hook>
                  <a href="/catalog" class="btn btn-accent bradius-0 continue">Seguir comprando</a>
                  <%= submit_tag 'vaciar carrito ', class: 'btn btn-danger bradius-0' %>
                </p>
              <% end %>
            </div>
          <%end%> 
        </div>
      </div> 
    </div>
  <% end %>
</div><!-- End .table-responsive -->

          <!-- <div class="row">
            <div class="col-sm-7">
              <div class="cart-discount">
                <h3>Coupon Discount</h3>
                <p>Enter your coupon code if you have one</p>

                <form action="#">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your coupon code">
                    <span class="input-group-btn">
                      <button type="submit" class="btn">Apply Code</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <div class="cart-proceed">
                <p class="cart-subtotal"><span>SUB TOTAL :</span> $405.00</p>
                <p class="cart-total"><span>Grand TOTAL :</span> <span class="text-accent">$405.00</span></p>
                <a href="checkout.html" class="btn btn-accent">Proceed to Checkout</a>
              </div>
            </div>
          </div> -->
        </div><!-- End .col-md-9 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div><!-- End .main -->
</div>



<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>


</div>
