<% @body_id = 'product-details' %>
<!-- <div class="container productContainer products-view ">
  <div class="row">
    <div class="col-md-6">
      <h1 class="product-title-dg" itemprop="name">
        <%= @product.name.capitalize %> 
      </h1>
    </div>
    <div class="col-md-6 text-right">
      <h3 class="share">Comparte</h3>
      <%= social_share_button_tag() %>
    </div>
  </div> -->
  <% cache cache_key_for_product do %>
    <!-- <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
      <div class="col-md-6 col-sm-5" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body text-center">
                <%= product_image(@product, itemprop: "image", class: 'product-image-view') %>
              </div>
            </div>
            <div id="thumbnails" data-hook>
              <%= render partial: 'thumbnails' %>
            </div>
          </div>
          <div class="col-md-12" data-hook="product_properties">
            <%= render partial: 'properties' %>
          </div>
          <div data-hook="promotions">
            <%= render partial: 'promotions' %>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-7" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <h1 class="product-title" itemprop="name">
              <%= @product.name.capitalize %> 
            </h1>
            <p class="ficha-descripcion">
              Descripción Ficha
            </p>
            <br>
            <div class="des-producto" itemprop="description" data-hook="description">
              <%= product_description(@product) %>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="chair text-center">
                  <h5>CAPACIDAD</h5>
                  <i class="fa fa-wheelchair" aria-hidden="true"></i>
                  <h4>1</h4>
                </div>
              </div>
              <div class="col-md-6" style="padding-left: 0;">
                <div id="cart-form" data-hook="cart_form">
                  <%= render partial: 'cart_form' %>
                </div>
              </div>
            </div>
          </div>
          <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
            <%= render partial: 'taxons' %>
          </div>
        </div>
      </div>
    </div>
  
</div> -->

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="row">
          <div class="product-gallery-container" style="margin-top: 90px;">
            
             <div class="product-zoom-wrapper">
                <div class="product-zoom-container product-img-paper">
                <!-- <img class="xzoom" id="product-zoom" src="/assets/images/photo1.jpg" data-xoriginal="/assets/images/photo1.jpg"  alt="Zoom image"/> -->
                <%= large_image(@product, itemprop: "image") %>
                </div><!-- End .product-zoom-container -->
            </div><!-- End .product-zoom-wrapper -->
            <div class="product-gallery-wrapper">
              <div class="owl-data-carousel owl-carousel product-gallery more-products-img"
                  data-owl-settings='{ "items":4, "margin":14, "nav": true, "dots":false }'
                  data-owl-responsive='{"240": {"items": 2}, "360": {"items": 3}, "768": {"items": 4}, "992": {"items": 3}, "1200": {"items": 4} }'>
                  <%@product.images.each do |image|%>
                    <a class="product-gallery-item">
                      <%= image_tag(image.attachment.url) %>
                    </a>
                  <%end%>
              </div><!-- End .product-gallery -->
            </div><!-- End .product-gallery-wrapper -->
          </div><!-- End .product-gallery-container -->

            <div class="product-details">
              <h2 class="product-title"><%= @product.name.capitalize %></h2>
          
              <div class="product-meta-row">
                <% if spree_current_user%>
                  <div id="product-price">
                    <h3 class="product-section-title"><%= Spree.t('Precio') %></h3>
                    <div>
                      <span class="lead price selling" itemprop="price">
                        <%= display_price(@product) %>
                      </span>
                      <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                    </div>

                    <% if @product.master.can_supply? %>
                      <link itemprop="availability" href="https://schema.org/InStock" />
                    <% elsif @product.variants.empty? %>
                      <br />
                      <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                    <% end %>
                  </div>
                <%else%>
                  <div id="product-price">
                    <h3 class="product-section-title">
                      <%= Spree.t('Precio') %>
                    </h3>
                    <div>
                      <span class="lead price selling" itemprop="price">
                        Para ver los precios de nuestros productos necesitas una cuenta activa.
                      </span>
                      <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                    </div>

                    <% if @product.master.can_supply? %>
                      <link itemprop="availability" href="https://schema.org/InStock" />
                    <% elsif @product.variants.empty? %>
                      <br />
                      <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                    <% end %>
                  </div>
                <%end%>
                
                <!-- <div class="product-price-container">
                  <span class="product-price">$250.00</span>
                </div> -->
                <!-- Endd .product-price-container -->

                <!-- <div class="product-ratings-wrapper">
                  <div class="ratings-container">
                    <div class="product-ratings">
                      <span class="ratings" style="width:80%"></span>
                    </div>
                  </div>
                  <a class="ratings-link" href="#reviews" title="Reviews">30 Reviews</a>
                </div> -->
              </div><!-- End .product-meta-row -->
              <div class="product-content">
                <%if @product.description.present?%>
                  <h4>
                    <%=@product.description%>
                  </h4>
                <%else%>
                  <h4>El producto no tiene descripción</h4>
                <%end%>    
              </div><!-- End .product-content -->
              <ul class="product-meta-list">
                <li><label>Availability:</label> <span class="product-stock">In Stock</span></li>
              </ul>
                
              <!-- <label>Color:</label>
              <ul class="filter-color-list">
                <li class="active">
                  <span class="filter-color" style="background-color: #575057;"></span>
                </li>
                <li>
                  <span class="filter-color" style="background-color: #d3b396;"></span>
                </li>
                <li>
                  <span class="filter-color" style="background-color: #080808;"></span>
                </li>
                <li>
                  <span class="filter-color" style="background-color: #e6e4e6;"></span>
                </li>
              </ul>

              <label>Size:</label>
              <ul class="filter-size-list">
                <li class="active">
                  <span class="filter-size">S</span>
                </li>
                <li>
                  <span class="filter-size">M</span>
                </li>
                <li>
                  <span class="filter-size">L</span>
                </li>
                <li>
                  <span class="filter-size">XL</span>
                </li>
              </ul> -->
              <div class="product-action">
                <%= render partial: 'cart_form' %>
                <!-- <div class="product-quantity">
                  <label>QTD:</label>
                  <input class="single-product-quantity form-control" type="text">
                </div> --><!-- end .product-quantity -->
                  
                <!-- <a href="#" class="btn btn-accent btn-addtobag">Add to Bag</a> -->
              </div><!-- End .product-action -->
            </div><!-- End .product-details -->
        </div><!-- End .row -->

        <div class="product-details-tab">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
            <!-- <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li> -->
          </ul>

            <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
              <p><%= product_description(@product) %></p>
            </div><!-- End .tab-pane -->
            <div role="tabpanel" class="tab-pane" id="information">
              <div class="table-responsive">
                <table class="table product-info-table">
                  <tbody>
                    <tr>
                      <td>Weight:</td>
                      <td>50 KG</td>
                    </tr>
                    <tr>
                      <td>Dimensions:</td>
                      <td>120 x 120 x 120 cm</td>
                    </tr>
                    <tr>
                      <td>Material:</td>
                      <td>Wood, Leather</td>
                    </tr>
                    <tr>
                      <td>Colors:</td>
                      <td>Beige, Black</td>
                    </tr>
                    <tr>
                      <td>Size:</td>
                      <td>SM, MD, LG</td>
                    </tr>
                    <tr>
                      <td>Other Info:</td>
                      <td>Comfort Couch Classic sigle Seater Soft is Relax in supreme comfort.</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- End .table-responsive -->
              </div><!-- End .tab-pane -->
              <div role="tabpanel" class="tab-pane" id="reviews">
                <div class="product-reviews comments">
                  <ul class="comments-list media-list">
                    <li class="media">
                      <div class="comment">
                        <div class="media-left">
                          <img class="media-object" src="assets/images/blog/user.png" alt="User">
                        </div><!-- End .media-left -->
                        <div class="media-body">
                          <h4 class="media-heading">Mathew joseph</h4>
                          <div class="ratings-container">
                            <div class="product-ratings">
                              <span class="ratings" style="width:80%"></span><!-- End .ratings -->
                            </div><!-- End .product-ratings -->
                          </div><!-- End .ratings-container -->
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis laoreet cursus. Cras nec condimentum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis laoreet cursus. Cras nec condimentum dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis laoreet cursus. Cras nec condimentum dolor.</p>
                        </div><!-- End .media-body -->
                      </div><!-- End .comment -->
                    </li>
                  </ul>
                </div><!-- End .comments -->
                <div class="review-form-container">
                  <h3>LEAVE A REVIEW</h3>
                  <form action="#" method="post">
                    <label>Your Rating*</label>
                    <div class="form-group clearfix">
                      <fieldset class="rate-field">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" title="5 stars"></label>

                        <input type="radio" id="star4" name="rating" value="4" checked>
                        <label for="star4" title="4 stars"></label>

                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" title="3 stars"></label>

                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" title="2 stars"></label>

                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" title="1 star"></label>
                      </fieldset>
                    </div><!-- End .form-group -->
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Name*</label>
                          <input type="text" class="form-control" required>
                        </div><!-- End .form-group -->
                      </div><!-- End .col-sm-6 -->
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>E-mail adddress</label>
                          <input type="email" class="form-control" required>
                        </div><!-- End .form-group -->
                      </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                    <div class="form-group mb20">
                      <label>Your Review*</label>
                      <textarea cols="30" rows="5" class="form-control"></textarea>
                    </div>

                    <div class="text-right">
                      <input type="submit" class="btn btn-accent min-width" value="Submit">
                    </div><!-- End .text-right -->
                  </form>
                </div><!-- End #respond -->
              </div><!-- End .tab-pane -->
          </div>
        </div><!-- End .product-details-tab -->
      </div><!-- End .col-md-9 -->

      <aside class="col-md-3 col-md-pull-9 sidebar sidebar-shop">
          <div class="widget widget-box widget-shop-category active">
            <h3 class="widget-title">Categorias 
              <!-- <a href="#" class="btn-filter" role="button">Filter<i class="fa fa-caret-down"></i></a> -->
            </h3>

            <ul class="shop-category-list accordion">
              <li>
                <a href="/t/oxigenoterapia">Oxigenoterapia</a>
              </li>
              <li>
                <a href="/t/respiratorio">Cuidado respiratorio</a>
              </li>
              <li>
                <a href="/t/movilidad">Movilidad</a>
                <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-2" aria-expanded="false" aria-controls="accordion-ul-2"><span class="accordion-icon"></span></button>

                <ul class="collapse" id="accordion-ul-2" aria-expanded="false">
                  <li><a href=""><i class="fa fa-caret-right"></i>Sillas de ruedas estándar</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Sillas de ruedas motorizadas</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Sillas de ruedas activas</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Sillas de ruedas Neurológica</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Scooter</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Cojines y accesorios-pendiente</a></li>
                </ul>
              </li>
              <li>
                <a href="/t/ayuda">Ayudas para la marcha</a>
              </li>
              <li>
                <a href="/t/fisioterapia"> Fisioterapia y rehabilitación</a> 
                <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-3" aria-expanded="false" aria-controls="accordion-ul-3"><span class="accordion-icon"></span></button>

                <ul class="collapse" id="accordion-ul-3" aria-expanded="false">
                  <li><a href=""><i class="fa fa-caret-right"></i>Linea Blanda</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Equipos para Rehabilitacion</a></li>
                </ul>
              </li>
              <li>
                <a href="/t/vivir">Ayudas para el diario vivir</a>
                <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-4" aria-expanded="false" aria-controls="accordion-ul-4"><span class="accordion-icon"></span></button>

                <ul class="collapse" id="accordion-ul-4" aria-expanded="false">
                  <li><a href="/t/vivircamas"><i class="fa fa-caret-right"></i>Camas</a></li>
                  <li><a href="/t/vivirbano"><i class="fa fa-caret-right"></i>Ayudas para el baño</a></li>
                  <li><a href="/t/ayudavivir/otras"><i class="fa fa-caret-right"></i>Otras ayudas</a></li>
                </ul>
              </li>
              <li>
                <a href="/t/diagnostico">Diagnostico</a>
              </li>
              <li>
                <a href="/t/momedico">Mobiliario Medico</a>
              </li>
              <li>
                <a href="/t/ozonoterapia">Ozonoterapia</a>
                <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-5" aria-expanded="false" aria-controls="accordion-ul-5"><span class="accordion-icon"></span></button>

                <ul class="collapse" id="accordion-ul-5" aria-expanded="false">
                  <li><a href=""><i class="fa fa-caret-right"></i>Equipos</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Consumibles y accesorios</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Línea cosmética</a></li>
                </ul>
              </li>
              <li>
                <a href="/t/colonterapia">Colonterapia</a>
                <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-6" aria-expanded="false" aria-controls="accordion-ul-6"><span class="accordion-icon"></span></button>

                <ul class="collapse" id="accordion-ul-6" aria-expanded="false">
                  <li><a href=""><i class="fa fa-caret-right"></i>Equipos</a></li>
                  <li><a href=""><i class="fa fa-caret-right"></i>Consumibles y accesorios</a></li>
                </ul>
              </li>
            </ul>     

          </div><!-- End .widget -->

          <div class="widget widget-box widget-shop-filter">
            <!-- <h3 class="widget-title">Filter <a href="#" class="btn-category" role="button">Categories<i class="fa fa-caret-down"></i></a></h3> -->
              
              <div class="filter-box">
                <h5 class="filter-label">Sort By</h5>
                <ul class="shop-filter-list">
                  <li><a href="#"><i class="fa fa-caret-right"></i>Default</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Popularity</a></li>
                  <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Average Rating</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Newness</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Price: Low to high</a></li>
                  <li><a href="#"><i class="fa fa-caret-right"></i>Price: high to Low</a></li>
                </ul>
              </div><!-- End .filter-box -->

              <div class="filter-box">
                <h5 class="filter-label">Price <span class="filter-price-text"><span class="filter-price-prefix">$</span><span id="filter-price-range"></span></span></h5>
                <div class="price-slider-wrapper">
                  <div id="price-slider"></div><!-- End #price-slider -->
                </div><!-- End .price-slider-wrapper -->
              </div><!-- End .filter-box -->

              <div class="filter-box">
                <h5 class="filter-label">Color</h5>
                <div class="row">
                  <div class="col-xs-6">
                    <ul class="filter-color-list">
                      <li>
                        <span class="filter-color" style="background-color: #1e73be;"></span>
                        <span class="filter-color-text">Blue</span>
                      </li>
                      <li>
                        <span class="filter-color" style="background-color: #c0c0c0;"></span>
                        <span class="filter-color-text">Gray</span>
                      </li>
                      <li>
                        <span class="filter-color" style="background-color: #dc9814;"></span>
                        <span class="filter-color-text">Orange</span>
                      </li>
                    </ul>
                  </div><!-- End col-xs-6 -->

                  <div class="col-xs-6">
                    <ul class="filter-color-list">
                      <li>
                        <span class="filter-color" style="background-color: #736751;"></span>
                        <span class="filter-color-text">Brown</span>
                      </li>
                      <li>
                        <span class="filter-color" style="background-color: #05ac92;"></span>
                        <span class="filter-color-text">Green</span>
                      </li>
                      <li>
                        <span class="filter-color" style="background-color: #fff;"></span>
                        <span class="filter-color-text">White</span>
                      </li>
                    </ul>
                  </div><!-- End col-xs-6 -->
                </div><!-- End row -->
              </div><!-- End .filter-box -->

              <a href="#" class="btn btn-apply btn-block">Apply Filter</a>
          </div><!-- End .widget -->

          <div class="widget widget-banner">
            <div class="banner banner-image">
              <a title="Brown Woman Shoes">
                <img src="/easygo.png" alt="Banner name">
              </a>
            </div>
          </div><!-- End .widget -->

          <div class="widget widget-newsletter">
            <h3 class="widget-title">Boletín de noticias</h3>
            <p>Suscríbete para recibir las ultimas noticias, ingresa tu email en el cuadro de abajo.</p>
            <%= form_tag("/subs", method: "post", class: 'sub-form') do %>
              
              <%= text_field_tag "subscription[email]", "", placeholder: 'Email', class: 'form-control', type: 'email', required: true do %>
                <img src="/assets/images/icon-newsletter-email.png" alt="Email">
              <% end %>
              <%= submit_tag("ENVIAR", class: "btn btn-block")%>
            <% end %>
          </div><!-- End .widget -->

          <div class="widget widget-testimonial">
            <div class="owl-data-carousel owl-carousel"
            data-owl-settings='{ "items":1, "margin": 5, "loop": false, "nav": false, "dots":true }'>
              <div class="testimonial">
                <img src="/assets/images/testimonials/user1.png" alt="User image">
                <h5 class="testimonial-owner">John Smith</h5>
                <div class="testimonial-owner-position">Ceo &amp; Founder Okler</div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div><!-- End .testimonial -->

              <div class="testimonial">
                <img src="/assets/images/testimonials/user2.png" alt="User image">
                <h5 class="testimonial-owner">Susan Smith</h5>
                <div class="testimonial-owner-position">CPO &amp; Co-Founder</div>
                <p>Distinctio, corrupti nesciunt aperiam, eaque, reiciendis dummy consequunt.</p>
              </div><!-- End .testimonial -->

              <div class="testimonial">
                <img src="/assets/images/testimonials/user3.png" alt="User image">
                <h5 class="testimonial-owner">David Lee</h5>
                <div class="testimonial-owner-position">Senior Developer</div>
                <p>Adipisci esse nobis alias magnam dolores debitis non odit porro nost.</p>
              </div><!-- End .testimonial -->
            </div><!-- End .owl-data-carousel -->
          </div><!-- End .widget -->
        </aside><!-- End .col-md-3 --><!-- End .col-md-3 -->
    </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .main -->
<% end %>

<style>
  .more-products-img img{
    height: 100px !important;
  }

  .product-img-paper img{
    width: 100%;
  }
</style>