<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>"><!--<![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <script src="https://use.fontawesome.com/e4b26ed800.js"></script>
    <style>
      body{
        line-height: 1.2;
      }
      /*NAVBAR STYLES FOR TABLETS*/
      @media (max-width: 1000px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .mobile-toggle{
          background: white !important;
          margin-top: 23px !important;
        }

        .mobile-toggle span{
          background: grey ;
        }

        .navbar-content{
          background: white;
        }

        .navbar-content li a{
          color: white;
          text-align: center;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
            display:block !important;
        }

        .center{
          text-align: center;
        }

        .single-footer-widget {
          float: none;
          margin-top: 40px;
        }
      }
      @media (max-width: 764px) {
        .infoText {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .flash-messages-all .alert{
        border: 1px solid white;
        color: #3c763d;
        text-align: center;
        margin-bottom: 0;
        width: 50%;
        margin: 0 auto;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        background: #1253a7;
        color: white;
        top: 3%;
      }
    </style>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>
    <div class="flash-messages-all">
      <%= flash_messages%>
    </div>
    <%= yield %>
     <footer class="footer">
    <div class="container">
      <div class="info-bar">
        <div class="info-bar-col">
          <h5 class="info-bar-title">CALIDAD EN NUESTROs PRODUCTOS</h5>
          <p>Siempre queremos lo mejor para ti</p>
        </div><!-- End .info-bar-col -->
        <div class="info-bar-col">
          <h5 class="info-bar-title">SATISFACCIÓN GARANTIZADA</h5>
          <p>Te ofrecemos lo mejor</p>
        </div><!-- End .info-bar-col -->
        <div class="info-bar-col">
          <h5 class="info-bar-title">SOPORTE EN LINEA</h5>
          <p>Clientes totalmente satisfechos</p>
        </div><!-- End .info-bar-col -->
      </div><!-- End .info-bar -->
    </div><!-- End .container -->
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="widget widget-about">
              <h4 class="widget-title">INFORMACIÓN DE CONTACTO</h4>
              <address>
                <span>Sede Administrativa:</span>
                <span>Calle 30 N° 41-09</span>
                <span>(4) 444 01 88</span>
                <span>311 635 4073</span>
                
                <a href="mailto:info@sumel.net">info@sumel.net</a>
              </address>
            </div><!-- End .widget -->
          </div><!-- End .col-md-3 -->

          <div class="col-sm-6 col-md-3">
            <div class="widget">
              <h4 class="widget-title">CENTRO AYUDA</h4>

              <ul class="links">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="#">Políticas de Cambios y Devoluciones</a></li>
                <li><a href="#">Preguntas, Quejas y Reclamos</a></li>
                <li><a href="#">Tiendas</a></li>
              </ul>
            </div><!-- End .widget -->
          </div><!-- End .col-md-3 -->

          <div class="clearfix visible-sm"></div><!-- clearfix -->

          <div class="col-sm-6 col-md-3">
            <div class="widget">
              <h4 class="widget-title">CLIENTES ACTIVOS</h4>

              <ul class="links">
                <li><a href="#">Cuenta</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Mi carro</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Checkout</a></li>
              </ul>
            </div><!-- End .widget -->
          </div><!-- End .col-md-3 -->

          <div class="col-sm-6 col-md-3">
            <div class="widget widget-newsletter">
              <h4 class="widget-title">Noticias</h4>
              <p>Suscríbete para recibir las ultimas noticias</p>
              <br>
              <%= form_tag("/subs", method: "post", class: 'sub-form') do %>
                <%= text_field_tag "subscription[email]", "", placeholder: 'Email', class: 'form-control', type: 'email', required: true do %>
                  <img src="/assets/images/icon-newsletter-email.png" alt="Email">
                <% end %>
                <br>
              <% end %>

              <div class="social-icons">
                <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div><!-- End .widget -->
          </div><!-- End .col-md-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .footer-inner -->

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">Online &copy; 2017. All Rights Reserved</p>
      <img src="/assets/images/cards.png" alt="Payment Methods" class="img-cards">
      </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
  </footer><!-- End .footer -->
    <script type="text/javascript">
      $(document).on('turbolinks:load', function() {
        setTimeout(function () {
          $(".flash-messages-all").fadeOut('slow')
        }, 5000);
      });
    </script>
  </body>
</html>
