<!-- <div id="spree-header fixed-margin">
  <nav class="top_panel  hidden-sm hidden-xs">
    <div class="panel-container">
      <div class="navbar-text navbar-left hsocial-icons">
        <div class="navbar-text navbar-left">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="navbar-text navbar-left">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="navbar-text navbar-left">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div> 
      <div class="topPanelnavRight">
      </div>
    </div>
  </nav>
  <nav class="navbar home-nav menu navbar-static-top fixed-margin">
    <div class="container-fluid" style=" padding-top: 26px;">
      <div class="navbar-header fixed-header" >
        <button type="button" class="navbar-toggle collapsed mobile-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          <img class="logoImage " src="/assets/images/full_logo_blue.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-content">
        <ul class="nav navbar-nav navbar-right mainNav">
          <li><a href="/catalog">Nuestros Productos <em>></em></a></li> -->
          <!-- <li><a href="/servicios">Nuestros Servicios <em>></em></a></li>
          <li><a href="/servicios">Nuestros Servicios <em>></em></a></li>
          <li><a href="/empresa">La Empresa</a></li>
          <li class="contact-click"><a href="" data-toggle="modal" data-target="busqueda-modal">Contáctenos</a></li>
        </ul>
    </div>
  </nav>
</div> -->
<div class="modal fade" id="busqueda-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-contant" role="document" style="margin-top: 161px;">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <img class="modal-logo" src="/assets/images/full_logo_blue.png">
            <br>
            <br>
            <img class="img-contact" src="/assets/images/contact-photo.png">
            <br>
            <br>
            <p style="color: #5d5d5d; text-align: center;">Aseguramos la felicidad de nuestros clientes</p>
            <br>
          </div>
          <div class="col-md-6" style="padding-left: 73px;">  
            <h1 style="color: #1254A8; text-align: right;">Contactanos!</h1>
            <p class="text-right" style="color: #5d5d5d; font-size: 16px;">Escríbenos</p>
            <div class="form-container">
              <%= form_tag("/contact-message", method: "post") do %>
                <%= text_field_tag "message[name]", "", placeholder: 'TU NOMBRE', class: 'input-style form-control', required: true%>
                <%= text_field_tag "message[email]", "", placeholder: 'EMAIL', class: 'input-style form-control', type: 'email', required: true%>
                <%= text_area_tag "message[details]", "", placeholder: 'MESSAGE', class: 'input-style form-control', required: true%>
                <%= submit_tag("Enviar Mensaje", class: "modal-submit")%>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<header class="header sticky-header">
  <% if spree_current_user %>
    <div class="container">
      <a href="/" class="site-logo" title="Shopo - eCommerce Template" style="max-width: 14%;">
        <img src="/sumel-logo.png" alt="Logo" class="">
      </a>
      <div class="search-form-container">
        <a href="#" class="search-form-toggle" title="Toggle Search"><i class="fa fa-search"></i></a>
      
        <%= form_tag(spree.products_path, method: :get, class: 'fixed-size-total') do %>
          <div class="dropdown search-dropdown">
            <a class="dropdown-toggle" href="/catalog">
              Productos
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/t/oxigenoterapia">Oxigenoterapia</a> 
              </li>
              <li>
                <a href="/t/respiratorio">Cuidado Respiratorio</a>
              </li>
              <li>
                <a href="/t/movilidad">Movilidad </a> 
              </li>
              <li>
                <a href="/t/ayuda">Ayudas para la marcha</a>
              </li>
              <li>
                <a href="/t/fisioterapia">Fisioterapia y rehabilitación</a>
              </li>
              <li>
                <a href="/t/ayudavivir">Ayudas para el diario vivir</a>
              </li>
              <li>
                <a href="/t/diagnostico">Diagnostico</a>
              </li>
               <li>
                <a href="/t/momedico">Mobiliario Medico</a>
              </li>
              <li>
                <a href="/t/ozonoterapia">Ozonoterapia</a>
              </li>
              <li>
                <a href="/t/colonterapia">Colonterapia</a>
              </li>
            </ul>
          </div><!-- End .dropddown -->
          <%= search_field_tag :keywords, params[:keywords], placeholder: "Buscar producto", class: "form-control search-tag-input search-input", required: true %>
          
            <div class="dropdown search-dropdown">
              <a class="dropdown-toggle" href="/servicios" >
                Servicios
                <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="servicios/#alquiler/">Alquiler</a></li>
                <li><a href="servicios/#mantenimiento">Mantenimiento</a></li>
                <li><a href="servicios/#asesoria"> Evaluación y asesoría por Fisioterapeuta </a></li>
                <li><a href="servicios/#domicilio">Acompañamiento profesional biomédico.</a></li>
              </ul>
            </div><!-- End .dropddown -->
         
        <% end %>
      </div><!-- End .search-form-container -->

      <ul class="top-links">
        <!-- <li>
          <a href="/cart" data-hook class="add-car" id="link-to-cart"> Add to cart</a>
            <script>Spree.fetch_cart()</script>
          <a href="#"></a>
        </li> -->
        <li>
          <%= link_to 'Mi cuenta', spree.account_path, {:style=>'padding-top: 5px', class: "navbar-text"} %>
        </li> 
        <li>
          <%= link_to Spree.t(:logout), spree.logout_path, {:style=>'padding-top: 5px', class: "navbar-text"}%>
        </li>
        <!-- Dropdown cart -->

        <li>
          <div class="dropdown cart-dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="cart-icon">
                    <img src="/assets/images/bag.png" alt="Cart">
                    <span class="cart-count"><%= simple_current_order.item_count%></span>
                </span>
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <p class="dropdown-cart-info">Tienes <%= simple_current_order.item_count%> productos listos para comprar.</p>
                <% if simple_current_order.line_items.empty?%>  
                  <p>No tienes productos dentro del carrito de compras.</p>
                <%else%>
                  <%simple_current_order.line_items.each do |object_cart| %>
                    <div class="dropdown-menu-wrapper">
                      <div class="product">
                        <figure class="product-image-container">
                          <%= small_image(object_cart.variant) %>
                        </figure>
                        <div>
                          <h4 class="product-title"><%=object_cart.name%></h4>
                          <div class="product-price-container">
                              <span class="product-price"><%=object_cart.single_money%></span>
                          </div><!-- End .product-price-container -->
                          <div class="product-qty">x<%=object_cart.quantity%></div><!-- End .product-qty -->
                        </div><!-- End .product-image-container -->
                      </div><!-- End .product- -->
                    </div><!-- End .droopdowm-menu-wrapper -->
                  <%end%>
                  <div class="cart-dropdowm-action">
                    <div class="dropdowm-cart-total">
                      <span>TOTAL: <%=simple_current_order.display_total%></span>
                    </div>
                    <a href="/cart" class="btn btn-primary">Checkout</a>
                  </div><!-- End .cart-dropdown-action -->
                <%end%>
            </div><!-- End .dropdown-menu -->
          </div><!-- End .cart-dropddown -->
        </li>
      </ul>
      <a href="" class="sidemenu-btn" title="Menu Toggle">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div><!-- End .container-fluid -->
  <%else%>
    <div class="container">
      <a href="/" class="site-logo" title="Shopo - eCommerce Template" style="max-width: 14%;">
        <img src="/sumel-logo.png" alt="Logo" class="">
      </a>
      <div class="search-form-container">
        <a href="#" class="search-form-toggle" title="Toggle Search"><i class="fa fa-search"></i></a>
      
        <%= form_tag(spree.products_path, method: :get, class: 'fixed-size-total') do %>
          <div class="dropdown search-dropdown">
            <a class="dropdown-toggle" href="/catalog" >
              Productos
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/t/oxigenoterapia">Oxigenoterapia</a> 
              </li>
              <li>
                <a href="/t/respiratorio">Cuidado Respiratorio</a>
              </li>
              <li>
                <a href="/t/movilidad">Movilidad </a> 
              </li>
              <li>
                <a href="/t/ayuda">Ayudas para la marcha</a>
              </li>
              <li>
                <a href="/t/fisioterapia">Fisioterapia y rehabilitación</a>
              </li>
              <li>
                <a href="/t/ayudavivir">Ayudas para el diario vivir</a>
              </li>
              <li>
                <a href="/t/diagnostico">Diagnostico</a>
              </li>
               <li>
                <a href="/t/momedico">Mobiliario Medico</a>
              </li>
              <li>
                <a href="/t/ozonoterapia">Ozonoterapia</a>
              </li>
              <li>
                <a href="/t/colonterapia">Colonterapia</a>
              </li>
            </ul>
          </div><!-- End .dropddown -->
          <%= search_field_tag :keywords, params[:keywords], placeholder: "Buscar producto", class: "form-control search-tag-input search-input", required: true %>
          <a href="/servicios">
          <div class="dropdown search-dropdown">
            <a class="dropdown-toggle" href="/servicios">
              Servicios
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="servicios/#alquiler/">Alquiler</a></li>
              <li><a href="servicios/#mantenimiento">Mantenimiento</a></li>
              <li><a href="servicios/#asesoria"> Evaluación y asesoría por Fisioterapeuta </a></li>
              <li><a href="servicios/#domicilio">Acompañamiento profesional biomédico.</a></li>
            </ul>
          </div><!-- End .dropddown -->
          </a>
        <% end %>
      </div><!-- End .search-form-container -->
      <ul class="top-links">
        <!-- <li>
          <a href="/cart" data-hook class="add-car" id="link-to-cart"> Add to cart</a>
            <script>Spree.fetch_cart()</script>
          <a href="#"></a>
        </li> -->
        <li>
          <%= link_to 'Ingresar', spree.root_path, {:style=>'padding-top: 5px', class: "navbar-text"} %>
        </li> 
        <li>
          <a href="" class="navbar-text contact-m" data-toggle="modal" data-target="busqueda-modal" style="padding-top: 5px">Contactenos</a>
        </li>
        <!-- Dropdown cart -->
      </ul>
      <a href="#" class="sidemenu-btn" title="Menu Toggle">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div><!-- End .container-fluid -->
  <%end%>
</header><!-- End .header -->

<aside class="sidemenu">
  <div class="sidemenu-wrapper">
    <div class="sidemenu-header">
      <a href="index.html" class="sidemenu-logo">
        <img src="/assets/images/lg_blue.png" alt="logo">
      </a>
    </div><!-- End .sidemenu-header -->

    <ul class="metismenu">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/servicios" aria-expanded="false">Nuestros servicios</a>
      </li>
      <li>
        <a href="/empresa" aria-expanded="false">La empresa</a>
      </li>
      <li class="contact-click"><a href="" data-toggle="modal" data-target="busqueda-modal">Contáctenos</a></li>
    </ul>
  </div><!-- End .sidemenu-wrapper -->
</aside><!-- End .sidemenu -->

<script>
  jQuery(document).ready(function($) {
    setTimeout(function () {
      $(".flash-messages-all").fadeOut('slow')
    }, 5000);
    $('.sidemenu-btn, .sidemenu-overlay').on('click', function (e) {
      $('body').toggleClass('toggle-sidemenu');
      $(this).toggleClass('open');
      e.preventDefault();
    });
  }); 
</script>



