<div id="myCarousel" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/images/armenia_bg.jpg" alt="Los Angeles" style="height: 50vh; width: 100%">
    </div>

    <div class="item">
      <img src="/assets/images/medellin_bg.jpg" alt="Chicago" style="height: 50vh ; width: 100%">
    </div>

    <div class="item">
      <img src="/assets/images/pereira_bg.jpg" alt="New York" style="height: 50vh; width: 100%">
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- <div class="login-bar">
  <nav class="navbar navbar-default" style="background: #dbd9da">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse informative-bar-login acerca-nav ">
        <ul class="nav navbar-nav acerca-nav">
          <li><a href="#">Acerca</a></li>
          <li><a href="">Cotización</a></li>
          <li><a href="">Órdenes</a></li>
          <li><a href="">Busqueda</a></li>
          <li><a href="">Términos y Condiciones</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Mapa del sitio</a></li>
          <li><a href="../navbar-static-top/">Atención al cliente</a></li>
        </ul>
      </div>
      <div class="rounded-blue-arrow"> 
      </div>
      <div class="text-center arrow">
        <i class="fa fa-arrow-down arrow" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</div> -->
<div class="login-form text-center">
  <br>
  <br>
  <h4>¿Qué tipo de usuario eres?</h4>

  <div class="row log-section">
    <div class="col-md-4 col-md-offset-2">
      <div class="rounded-blue">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </div>
      <h1>CONSUMIDOR</h1>
      <div id="big-form" class="auth-box">
        <br>
        <br>
        <br>
        <a href="/catalog" class='products-sumel'>VER TODOS LOS PRODUCTOS</a>
        <br>
        <h5 class="text-center">Encuentra tu tienda más cercana</h5>
        <!-- Button trigger modal -->
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal1">
          Medellín
        </button>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal2">
          Itagüí
        </button>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal3">
          Pereira
        </button>
        <br>
        <button type="button" class="btn btn-primary btn-lg cities-button" data-toggle="modal" data-target="#myModal4">
          Armenia
        </button>
        <br>
        <br>
        <a href="" class='contact-sumel' data-toggle="modal" data-target="contacto-sumel-modal">CONTACTO SUMEL</a>
        <br>
        <br>
        <br>
        <br>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <img src="/assets/images/logo_blue.png" class="logo-login">
              <h4 class="modal-title" id="myModalLabel">Medellín</h4>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (4) 444 01 88</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (+57) 316 523 4269</h4>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Sumel+Medellin" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <img src="/assets/images/logo_blue.png" class="logo-login">
              <h4 class="modal-title" id="myModalLabel">Itagüí</h4>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (4) 444 01 88</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (+57) 311 635 4073</h4>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Calle 30 N° 41-09, medellin" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
               <img src="/assets/images/logo_blue.png" class="logo-login">
              <h4 class="modal-title" id="myModalLabel">Pereira</h4>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (6) 3255690</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (+57) 314 888 0021</h4>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=Cl.+24+%236-14, Pereira - Risaralda" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <img src="/assets/images/logo_blue.png" class="logo-login">
              <h4 class="modal-title" id="myModalLabel">Armenia</h4>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-mobile" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (6) 746 3334 </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-1 text-right">
                  <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; padding-top: 16px;"></i>
                </div>
                <div class="col-md-7 text-left" style="padding-left: 0;">
                  <h4 id="myModalLabel"> (+57) 321 701 0685</h4>
                </div>
              </div>
              <h4 class="modal-title" id="myModalLabel" style="padding-top: 0"> 
                 Barrio el Alcazar, Edificio Centro Medico Empresarial Uninorte Local 105
              </h4>
            </div>
            <div class="modal-body">
              <div id="map">
                <iframe width="100%" height="350" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlbJ_XRVze2LtvaIBXH8Libsn6c6PWU1Q
                  &q=4.5431233,-75.6623233" allowfullscreen>
              </iframe>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded-blue" >
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <h1>CLIENTE ACTIVO</h1>
      <div id="big-form" class="auth-box">
        <%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
          <fieldset>
            <h5 class="text-center">Ingrese a continuación su información personal</h5>
            <br>
            <br>
            <!-- Text input-->
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control input-md login-input', tabindex: 1, placeholder: 'Usuario' %>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <div class="">
                <%= f.password_field :password, class: 'form-control input-md login-input', tabindex: 2, placeholder: 'Contraseña' %>
              </div>
            </div>
            <br> 
            <div class="form-group" style="margin-right: 58px;">
              <%= f.submit 'INGRESAR', class: 'btn btn-lg btn-success btn-block button-fixed', tabindex: 3 %>
            </div>
            <div class="form-group forgot-password-div text-right">
              <%= link_to '¿Olvidó su contraseña?', spree.recover_password_path, class: 'forget-a' %>
            </div>
          </fieldset>
        <% end %>
        <a href="" class="requerir-btn" data-toggle="modal" data-target="requerir-acceso-modal">REQUERIR ACCESO</a>
      </div>
    </div>
  </div>  
</div>
<br>
<br>
<br>
<br>
<!-- modal -->
<div class="modal fade" id="contacto-sumel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-contant" role="document" style="margin-top: 161px;">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <img class="modal-logo" src="/assets/images/full_logo_blue.png">
            <br>
            <br>
            <img class="img-contact" src="/assets/images/contact-photo.png">
            <br>
            <br>
            <p style="color: #5d5d5d; text-align: center;">Aseguramos la felicidad de nuestros clientes</p>
            <br>
          </div>
          <div class="col-md-6" style="padding-left: 50px;">  
            <h1 style="color: #1254A8; text-align: center;">¿Contacto Sumel?</h1>
            <p class="text-right" style="color: #5d5d5d; font-size: 16px;">Escríbenos</p>
            <br>
            <div class="form-container">
              <%= form_tag("/contact-message", method: "post") do %>
                <%= text_field_tag "message[name]", "", placeholder: 'TU NOMBRE', class: 'input-style form-control', required: true%>
                <%= text_field_tag "message[email]", "", placeholder: 'EMAIL', class: 'input-style form-control', type: 'email', required: true%>
                <%= text_area_tag "message[details]", "", placeholder: 'MESSAGE', class: 'input-style form-control', required: true%>
                <br>
                <%= submit_tag("Enviar mensaje", class: "modal-submit")%>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="requerir-acceso-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-contant" role="document" style="margin-top: 161px;">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <img class="modal-logo" src="/assets/images/full_logo_blue.png">
            <br>
            <br>
            <img class="img-contact" src="/assets/images/contact-photo.png">
            <br>
            <br>
            <p style="color: #5d5d5d; text-align: center;">Aseguramos la felicidad de nuestros clientes</p>
            <br>
          </div>
          <div class="col-md-6" style="padding-left: 50px;">  
            <h1 style="color: #1254A8; text-align: center;">¿Requerir acceso?</h1>
            <p class="text-right" style="color: #5d5d5d; font-size: 16px;">Escríbenos</p>
            <br>
            <div class="form-container">
              <%= form_tag("/contact-message", method: "post") do %>
                <%= text_field_tag "message[name]", "", placeholder: 'TU NOMBRE', class: 'input-style form-control', required: true%>
                <%= text_field_tag "message[email]", "", placeholder: 'EMAIL', class: 'input-style form-control', type: 'email', required: true%>
                <%= text_field_tag "message[product]", "", placeholder: 'ASUNTO (Requerir acceso)', class: 'input-style form-control', required: true%>
                <br>
                <%= submit_tag("Enviar", class: "modal-submit")%>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<style>
  .login-bar nav{
    margin-bottom: 0;
    border-top: 3px solid #0038a7;
  }

  .logo-login{
    width: 252px;
    margin-top: 50px;
  }

  .forget-a{
    color: #c3736c;
    text-decoration: underline;
    font-weight: 500;
  }

  .login-bar nav ul{
    position: relative;
    left: -40px;
  }

  .rounded-blue{
     background: #0038a7;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
  }

  .rounded-blue .fa{
    font-size: 35px;
    color: white;
    padding-top: 30px;
  }

  .rounded-blue-arrow{
    /*background: #0038a7;*/
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 29%;
    margin-left: auto;
    margin-right: auto;
  }

  .arrow{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 68%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
  }

  .login-form h4{
    color: #0038a7;
    font-weight: 700;
    font-size: 22px;
    padding-top: 5px;
  }

  .log-section h4, .log-section h1 {
    color: #0038a7;
    font-weight: 900;
  }

  .log-section h1 {
    font-size: 42px;
  }

  .log-section{
    padding-top: 50px;
  }

  .log-section h5{
    color: #494a4c;
    font-weight: 200;
    padding-top: 15px;
  }
  
  .login-input{
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    background: #d8d8d8;
    padding: 23px;
  }

  .button-fixed{
    margin-left: auto;
    margin-right: 0;
    width: 37% !important;
    font-size: 12px;
    border-radius: 0;
    border-color: #0038a7;
    padding: 8px;
    padding-left: 42px;
    background: #0038a7 !important;
  }

  .forgot-password-div{
    padding-bottom: 40px;
    margin-right: 57px;
  }

  .contact-sumel{
    background: #0038a7;
    width: 70%;
    margin: 0 auto; 
    color: white;  
    padding: 12px 85px;
    font-size: 12px;
  }
  .contact-sumel:hover{
    background: #0760ED;
    color: white;
  }

  #map{
    height: 350px;
  }

  .cities-button{
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    background: #d8d8d8;
    padding: 10px;
    color: #9c9e9e;
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
  }
  .products-sumel{
    background: #585a59;
    width: 70%;
    margin: 0 auto; 
    color: white;  
    padding: 12px 54px;
    font-size: 12px;
  }

  .products-sumel:hover{
    color: white;
  }

  .cities-button:hover{
    background: #d8d8d8 !important;
    padding: 10px;
    color: #555555;
  }

  .mr-1{
    margin-right: 1px;
  }

  .rounded-blue-arrow:hover{
    background: #0760ED;
  }

  .fa-user-plus{
    margin:0 auto;
  }

  .numero-uno{
    position: relative;
    top: 60px;
  }

  .numero-dos{
    position: relative;
    top: 126px;
    /*left: 250px;*/
  }

  .numero-tres{
    position: relative;
    top: 25px;
  }

  .numero-cuatro{
    position: relative;
    top: 156px;
    /*left: 300px;*/
  }

  .uno-display{
    display: none;
  }


  .uno{
    width: 50px;
    height: 50px;
    background: #0038a7;
    border-radius: 30px;
    margin: 0 auto;
  }

  .dos, .cuatro{
    width: 50px;
    height: 50px;
    background: #0038a7;
    border-radius: 30px;
  }

  .tres{
    width: 50px;
    height: 50px;
    background: #0038a7;
    border-radius: 30px;
    margin: 0 auto;
  }

  .uno p, .dos p, .tres p, .cuatro p{
    margin-top: 0 !important;
    font-size: 16px;
    padding-top: 14px;
    color: white;
    text-align: center;
  }

  .uno-text{
    margin: 0 auto;
    text-align: center;
    background: white;
    width: 392px;
    height: 116px;
    border-radius: 10px;
    position: relative;
    bottom: 33px;
    font-size: 16px;
    /*left: 315px;*/
  } 

  .felicidad{
    height: 35px;
    width: 54%;
    background: #e0514b;
    color: white;
    font-size: 16px;
    margin-right: 367px;
    position: relative;
    bottom: 42px;
    /*left: -30px;*/
    margin-top: 62px;
  }

  .calidad{
    height: 35px;
    width: 15%;
    background: #e0514b;
    color: white;
    font-size: 16px;
    margin-right: 367px;
    position: relative;
    bottom: 42px;
    left: -30px;
  }

  /*center-inside*/
  
  .uno-text p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    text-align: left !important;
    padding-left: 20px !important;
  }

  .dos-text{
    display: none;
    position: relative;
    left: 20px;
    /* bottom: 44px; */
    top: 15px;
    background: white;
    width: 90%;
    border-radius: 8px;
    padding-top: 8px;
    height: 35px;
    text-align: center;
    color: white;
    font-weight: 700;
    background: #e0514b;
  }

  .dos-text-info{
    height: 146px;
    width: 261px;
    top: 40px;
    padding-top: 35px;
    background: white;
    color: #2e497e;
    font-weight: 400;
  }

  .dos-text-info p{
    padding-left: 10px;
  }

  .cuatro-text{
    display: none;
    position: relative;
    /*left: -140px;*/
    bottom: 40px;
    background: white;
    width: 90%;
    border-radius: 8px;
    padding-top: 8px;
    height: 35px;
    text-align: center;
    color: #e0514b;
    font-weight: 700;
    top: 15px;
    left: 20px;
  }

  .dream-p{
    position: relative;
    background: white;
    width: 291px;
    border-radius: 8px;
    padding-top: 25px;
    height: 100px;
    text-align: center;
    color: #2e497e;
    font-weight: 700;
    margin: 0 auto;
    top: 7px;
    font-weight: 400;
  }

  .tres-text{
    display: none;
    position: relative;
    left: 156px;
    bottom: 105px;
    background: white;
    width: 40%;
    border-radius: 8px;
    padding-top: 8px;
    height: 35px;
    text-align: center;
    color: #e0514b;
    font-weight: 700;
    margin: 0 auto;
  }

  .sonrisas-p{
    background: #e0514b;
    color: white;
  }


  .p-especialista{
    position: relative;
    background: white;
    width: 291px;
    border-radius: 8px;
    padding-top: 25px;
    height: 152px;
    text-align: center;
    color: #2e497e;
    font-weight: 700;
    margin: 0 auto;
    top: 7px;
    font-weight: 400;
  }

  .btn-conocer{
    background: #0038a7;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-size: 12px;
    position: relative;
    left: 28%;
  }

  .sonrisas-btn{
    bottom: 37px;
    left: 90%;
  }

  .btn-conocer:hover{
    color: white;
  }

  .top-40 p{
    top: 40%;
  }

  .requerir-btn{
    margin-top: 20px;
    padding: 12px 74px;
    background: #e0514b;
    color: white;
    font-size: 12px;
  }

  .requerir-btn:hover{
    background: red;
    color: white;
  }

  @media (min-width: 768px){
    .informative-bar-login .navbar-nav>li {
      margin-left: -7px !important;
    }

    .informative-bar-login .navbar-nav > li > a{
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
</style>